<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

<title>Partidas</title>
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark">
		
	  <!-- Links -->
	  <ul class="navbar-nav">
	  	<li>
	    	<h3>Gerenciador de Partidas</h3>
	    </li>
	    <li>
	    	
	    </li>
	  </ul>
	  
	  <a class="btn btn-lg btn-success float-right" href="/partida/index">Listar Partidas</a>
	
	</nav>

	<div th:each="partida : ${partida}" class="container">
		<div class="row">
			<p>Nome: <span th:text="${partida.titulo}"></span></p>
			<p>Data: <span th:text="${#dates.format(partida.data, 'dd/MM/yyyy')}"></span></p>
			<p>Mapa: <span th:text="${partida.nomeMapa()}"></span></p>
		</div>
	</div>
	
	<div class="container ">
		<form method="post">
			Nome *: <input type="text" value="" name="nome"/>
			<label for="posicao">Posição *</label>
			<select id="posicao" name="posicao">
				<option value=0>SELECIONE</option>
				<option th:each="posicao : ${T(com.Partidas.models.Posicao).posicoes()}" th:value="${posicao}" th:text="${T(com.Partidas.models.Posicao).getNome(posicao)}"></option>
			</select>
			<button class="btn btn-primary" type="submit">Adicionar</button>
		</form>
		</div>

		<table class="container">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Posição</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="jogador : ${jogadores}">
					<td><span th:text="${jogador.nome}"></span></td>
					<td><span th:text="${jogador.nomePosicao()}"></span></td>
				</tr>
			</tbody>
		</table>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>