<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
		crossorigin="anonymous">
		
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

<title>Partidas</title>
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark">
		
	  <!-- Links -->
	  <ul class="navbar-nav mr-auto">
	  	<li>
	    	<h3 style="color: white;">Gerenciador de Partidas</h3>
	    </li>
	  </ul>
	  <ul class="navbar-nav float-right">
	  	<li>
	    	<a class="btn btn-lg btn-success" href="/partida/index">Listar Partidas</a>
	    </li>
	  </ul>
	</nav>
	
	<div class="container my-3">
		<div class="card">
			<div class="card-header bg-primary" style="text-align: center">
				<h3 style="color:white;"><span th:text="${partida.titulo}"></span></h3>
			</div>
			<div class="card-body" style="text-align: center">
				<div class="row">
					<div class="col-6">
						<h5>Data: <span th:text="${#dates.format(partida.data,'dd/MM/yyyy')}"></span></h5>
					</div>
					<div class="col-6">
						<h5>Mapa: <span th:text="${partida.nomeMapa()}"></span></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<br/>
	
	<div class="container my-3" >
		<form method="post">
			<div class="row">
			<div class="col-6">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="nome">Nome</span>
					</div>
					<input type="text" class="form-control" aria-label="Nome" aria-describedby="nome" name="nome">
				</div>
			</div>
				
				<div class="col-6" style="text-align: left;">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="posicao">Posição</label>
						</div>
						<select class="custom-select" id="posicao" name="posicao">
							<option value=0>SELECIONE</option>
							<option th:each="posicao : ${T(com.Partidas.models.Posicao).posicoes()}" th:value="${posicao}" th:text="${T(com.Partidas.models.Posicao).getNome(posicao)}"></option>
						</select>
						<button class="btn btn-primary" type="submit" title="Adicionar"><i class="fas fa-plus"></i></button>
					</div>
					
				</div>
			</div>
		</form>
	</div>
		
	<div class="container my-3" th:if="${not #lists.isEmpty(jogadores)}">
		<div class="card">
			<div class="card-header bg-primary">
				<h4 style="color:white;">Jogadores</h4>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nome</th>
							<th scope="col">Posição</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="jogador : ${jogadores}">
							<td><span th:text="${jogador.nome}"></span></td>
							<td><span th:text="${jogador.nomePosicao()}"></span></td>
							<td><a th:href="@{/partida/removerJogador/{idPartida}/{idJogador}(idPartida=${partida.id},idJogador=${jogador.id})}"><i class="fas fa-trash-alt"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>